<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
</head>
<body>
    {%if error %}
    <div>{{error}}</div>
    {% endif %}
    <form action="{% url 'mylogin:signin' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user_name" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="SIGN IN">
    </form>
</body>
</html>